page-contact {
    .bg{
        background: #606c88;  /* fallback for old browsers */        
    }

    .bg0{
        background: repeating-radial-gradient(
                    circle,
                    #e65c00,
                    #e65c00 10px,
                    #F9D423 10px, 
                    #F9D423 20px
                    );
    }

    .bg1{
        background: repeating-radial-gradient(
                    circle,
                    #FF9000,
                    #FF9000 10px,
                    #5F021F 10px, 
                    #5F021F 20px
                    );
    }

    .bg2{
        background: repeating-radial-gradient(
                    circle,
                    #990033,
                    #990033 10px,
                    #8C001A 10px, 
                    #8C001A 20px
                    );
    }

    .bg3{
        background: repeating-radial-gradient(
                    circle,
                    #17BEBB,
                    #17BEBB 10px,
                    #FFC914 10px, 
                    #FFC914 20px
                    );
    }
    
    .bg4{
        background: repeating-radial-gradient(
                    circle,
                    #39A0ED,
                    #39A0ED 10px,
                    #13C4A3 10px, 
                    #13C4A3 20px
                    );
    }   

    .bg5{
        background: repeating-radial-gradient(
                    circle,
                    #FCBA04,
                    #FCBA04 10px,
                    #C2948A 10px, 
                    #C2948A 20px
                    );
    }

    .bg6{
        background: repeating-radial-gradient(
                    circle,
                    #724CF9,
                    #724CF9 10px,
                    #CA7DF9 10px, 
                    #CA7DF9 20px
                    );
    }

    .bg7{
        background: repeating-radial-gradient(
                    circle,
                    #A44200,
                    #A44200 10px,
                    #69140E 10px, 
                    #69140E 20px
                    );
    }

    .bg8{
        background: repeating-radial-gradient(
                    circle,
                    #BDBF09,
                    #BDBF09 10px,
                    #D96C06 10px, 
                    #D96C06 20px
                    );
    }

    .bg9{
        background: repeating-radial-gradient(
                    circle,
                    #BA2C73,
                    #BA2C73 10px,
                    #0F7173 10px, 
                    #0F7173 20px
                    );
    }

    .numberCard{
        height: 20vh;
    }

    .numberCard-Content{
        font-size: 15vw;
        font-weight: bold;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
    }

    .mathSign{
        font-size:20vw;
        font-weight: bold;
        color: white;
        margin-top: 10px;
    }

    .timebar{
        background: repeating-linear-gradient(
                    45deg,
                    #9933ff,
                    #9933ff 10px,
                    #66ffff 10px,
                    #66ffff 20px
                    );
        animation: progressBar 10s infinite;
        position: relative;
        width: 3.4vw;
        top: 50%;
        left: 48%;
        right: 45%;
        transform: translateY(-50%); 
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    }

    .timebarbg{
        background: #f0f1f4;
        position: fixed;
        z-index: -1;
        width: 3.4vw;
        height: 100vh;
        top: 50%;
        left: 48%;
        right: 45%;
        transform: translateY(-50%); 
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    }

    @keyframes progressBar {
        0% { height: 0; }
        5% { height: 5% }
        10% { height: 10% }
        15% { height: 15% }
        20% { height: 20% }
        25% { height: 25% }
        30% { height: 30% }
        35% { height: 35% }
        40% { height: 40% }
        45% { height: 45% }
        50% { height: 50% }
        55% { height: 55% }
        60% { height: 60% }
        65% { height: 65% }
        70% { height: 70% }
        75% { height: 75% }
        80% { height: 80% }
        85% { height: 85% }
        90% { height: 90% }
        95% { height: 95% }
        100% { height: 100%; }
      }

    .object {
        animation: MoveUpDown 1s linear infinite;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .object1 {
        animation: MoveDownUp 1s linear infinite;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      
      @keyframes MoveDownUp {
          0%, 100% {
              bottom: 100%;
          }
          50% {
              bottom: 0%;
          }
      }

      @keyframes MoveUpDown {
        0%, 100% {
          bottom: 0%;
        }
        50% {
          bottom: 100%;
        }
      }


      
}
