page-home {
    .custom-list{
        border: 3px solid #1f1f1f;;
        button{
            height: 15vh;
            margin-bottom: 0px;
        }

        ion-card-header{
            background: #1f1f1f;
            color: #f1f1f1;
        }
    }

    .box-shadow{
        background: #f1f1f1;
        color: #666;
        box-shadow: 0 5px 15px rgba(0,0,0,.08);
      }

    .alive-bg{
        background: #f1f1f1;  /* fallback for old browsers */
    }

    .bg1{
        background: #F6511D;
        color: #fff;
    }
    .bg2{
        background: #FFB400;
        color: #fff;
    }
    .bg3{
        background: #00A6ED;
        color: #fff;
    }
    .bg4{
        background: #7FB800;
        color: #fff;
    }   
    .bg5{
        background: #0D2C54;
        color: #fff;
    }

    .transparent{
        background: transparent;
    }
}
